<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- blog-head section -->
<header>
<section class="blog-head" id="mynav" onscroll="myScroll()">
  <h2>{{title}}</h2>
  <div class="blog-head-button">
    <button><a href="#">sign in</a></button>
    <button id="write" (click)=toggleDisplayDiv()><a href="#">write a blog</a></button>
</div>
</section>
</header>

<!-- blog home section -->
<section class="blog-home">
<h1>Discover New Experience in Blogging World  With Modern Blogs</h1>
<h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod quam, iste,
  adipisci dolorum <br/> sunt voluptatum  sint voluptatem quibusdam deleniti 
  libero amet dolor,<br/> placeat eligendi eos hic incidunt aperiam? Sequi, hic.</h3>

  <div class="blog-button">
      <button><a href="#">View Blogs</a></button>
      <button><a href="#">Get Started</a></button>
  </div>
</section>

<!--blog form -->

<section class="blog-form" [hidden]="isShowDiv">
    <h3>Add a Blog</h3>
    <div class="blog-form-contain">
      <form>
        <input type="text" name="" placeholder="Title" id="" required> 
        <input type="text" name="" placeholder="Blog" id="" required>
        <input type="text" name="" placeholder="Author" id="" required>
        <input type="text" name="" placeholder="Designation" id="" required>
        <button type="submit">Submit <i class="fa-solid fa-paper-plane"></i></button>
      </form>
    </div>
</section>

<!-- blog section starts -->

<section class="blog-container">
  <h2> recent Blogs</h2>

  <div class="blog-box">
    <div class="blog-box-one">
      <div class="blog-box-one-info">
        <h4>Lorem ipsum dolor sit amet consectetur  quas, totam laborum! </h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dignissimos tenetur! Perferendis doloremque illo fugit quos beatae cum, natus omnis eius. Sequi, praesentium ullam. Dolores officiis odio quos aperiam est.</p>
        <h5>19 Dec 2022 , 16:16</h5>
        <div class="blog-info-author">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ88pvEIturcIMopWw2honpnMOVG3nXfEhUDVMtmwvjD2Xq2Tmv-q3QyeOh2sS-RnpP9Ns&usqp=CAU" alt="#"/>
          <div class="blog-info-author-info">
          <h5>Author</h5>
          <h5>Designation</h5>
          </div>
          <i class="fa-solid fa-trash-can" id="delete" onclick="alert('Blog Deleted SuccessFully')"></i>
          

        </div>
      </div>
    </div>
  
    <!--  -->
    <div class="blog-box-one">
      <div class="blog-box-one-info">
        <h4>Lorem ipsum dolor sit amet consectetur  quas, totam laborum! </h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dignissimos tenetur! Perferendis doloremque illo fugit quos beatae cum, natus omnis eius. Sequi, praesentium ullam. Dolores officiis odio quos aperiam est.</p>
        <h5>19 Dec 2022 , 16:16</h5>
        <div class="blog-info-author">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ88pvEIturcIMopWw2honpnMOVG3nXfEhUDVMtmwvjD2Xq2Tmv-q3QyeOh2sS-RnpP9Ns&usqp=CAU" alt="#"/>
          <div class="blog-info-author-info">
          <h5>Author</h5>
          <h5>Designation</h5>
          </div>
          <i class="fa-solid fa-trash-can" id="delete" ></i>
          
        </div>
      </div>
    </div>
    <!--  -->
    <div class="blog-box-one">
      <div class="blog-box-one-info">
        <h4>Lorem ipsum dolor sit amet consectetur  quas, totam laborum! </h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dignissimos tenetur! Perferendis doloremque illo fugit quos beatae cum, natus omnis eius. Sequi, praesentium ullam. Dolores officiis odio quos aperiam est.</p>
        <h5>19 Dec 2022 , 16:16</h5>
        <div class="blog-info-author">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ88pvEIturcIMopWw2honpnMOVG3nXfEhUDVMtmwvjD2Xq2Tmv-q3QyeOh2sS-RnpP9Ns&usqp=CAU" alt="#"/>
          <div class="blog-info-author-info">
          <h5>Author</h5>
          <h5>Designation</h5>
          </div>
          <i class="fa-solid fa-trash-can" id="delete" ></i>
          
        </div>
      </div>
    </div>
    <!--  -->
    <div class="blog-box-one">
      <div class="blog-box-one-info">
        <h4>Lorem ipsum dolor sit amet consectetur  quas, totam laborum! </h4>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Temporibus, dignissimos tenetur! Perferendis doloremque illo fugit quos beatae cum, natus omnis eius. Sequi, praesentium ullam. Dolores officiis odio quos aperiam est.</p>
        <h5>19 Dec 2022 , 16:16</h5>
        <div class="blog-info-author">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ88pvEIturcIMopWw2honpnMOVG3nXfEhUDVMtmwvjD2Xq2Tmv-q3QyeOh2sS-RnpP9Ns&usqp=CAU" alt="#"/>
          <div class="blog-info-author-info">
          <h5>Author</h5>
          <h5>Designation</h5>
          </div>
          <i class="fa-solid fa-trash-can" id="delete" ></i>
          
        </div>
      </div>
    </div>
  </div>

</section>

<!-- blog-footer -->
<section class="footer">
  <h5>Copyright © 2022 Blog-App | All Rights Reserved</h5>
</section>



